<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->
      <p>
        Search:
        <input ng-model="$ctrl.query" />
      </p>
      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="name">Alphabetical</option>
          <option value="stars">Stars</option>
        </select>
      </p>
   </div>
    <div class="col-md-10">
      <!--Body content-->
      <p>Ceramic Glazes:</p>
      <ul class="recipes">
        <li ng-repeat="recipe in $ctrl.recipes | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="thumbnail">
          <a href="#!/recipes/{{recipe.id}}">{{recipe.name}} (Stars: {{recipe.stars}})</a>
        </li>
      </ul>
    </div>
  </div>
</div>
